body {   
    color: $grey;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 1.3em;
}

p {
    margin-bottom: $spacing;
}

p:last-child {
	margin-bottom: 0;
}

.large-text {
	font-size: 1.3em;
	line-height: 1.3em;
}