label {
    display: block;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid $grey;
    border-radius: 4px;
    margin-bottom: $spacing;
    display: block;

    font-size: 16px;

    background: $white;
}

textarea {
    min-height: 100px;
    
    line-height: 24px;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid $blue;
}