.nav {
    width: 100%;
    margin-bottom: $spacing;
}

.nav ul {
    margin: 0;

    list-style: none;
}

.nav li {
    display: block;

}

.nav a {
    padding: 10px 0 10px 35px;
    display: block;

    text-align: left;

    background-image: url("../images/paw1.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px auto;

    @media screen and (min-width: $deskSize) {
        padding: 40px 0 40px 75px;

        background-size: auto;
    }
}

.nav li:nth-child(2) a,
.nav li:nth-child(4) a {
    background-image: url("../images/paw2.png");
    background-size: auto 80%;
}

.nav a:hover {
    text-decoration: none;
}
